@import "./resets";
@import "./variables";

body {
  background: $primary-color;
}

.main {
  width: 80%;
  margin: 0px auto;
  #{&}_paragraph {
    font-weight: map-get($font-weights, bold);
    color: $text-color;

    &:hover {
      color: pink;
    }
  }
}
